$primary: #37AB00;
$FondU: rgb(68, 72, 77);
$FondU2: rgb(31, 33, 41);

$transparent-30: #0000004D;
$transparent-20: #00000033;
$transparent-03: #00000008;
$transparent-70: #000000b3;

$blanco: $FondU2;